body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #130202;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  color: #0b0606;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 18px;
  margin-bottom: 20px;
}

img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 25px;
  color: #666;
  font-size: 14px;
}
